*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  background: url('images/friends.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 20px;
}

.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

header {
  text-align: center;
}

h1 {
  font-weight: 500;
  margin-bottom: 0;
  color: rgba(53, 59, 72,1.0);
  text-shadow: 3px 1px 1px white;
}

.question {
  margin-bottom: 8px;
}

.sub-heading {
  font-weight: 500;
  color: rgba(47, 54, 64,1.0);
  text-shadow: 1px 1px 1px white;
}

form {
  background-color: rgba(255, 107, 107,0.7);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px 40px 60px 40px;
  border-radius: 10px;
}

.form-element {
  display: flex;
  flex-direction: column;
}

input, select, textarea {
  padding: 12px 20px;
  border: 2px solid rgb(255, 0, 0, 0.3);
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input:focus, select:focus, textarea:focus {
  border: 2px solid rgba(255, 0, 0, 0.4);
  outline: none;
}

input[type=submit] {
  background-color: #3CBC8D;
  color: white;
  cursor: pointer;
  font-size: 17px;
  letter-spacing: 1px;
}

label {
  margin: 20px 0 8px 0;
}

textarea {
  resize: none;
  margin-bottom: 30px;
}

@media all and (max-width:800px) {
  .wrapper {
    max-width: 550px;
  }
}